<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>Blocipedia</title>
 <meta http-equiv="Content-Security-Policy" content="font-src 'self' data: https://fonts.gstatic.com;">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/application.css">
