<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="main-index-wikis p-8 mt-16">
      <% include ../static/partials/messages.ejs %>
      <section class="w-2/4 flex flex-col">
        <% wikis.forEach((wiki) => { %>
          <div class="card p-3 mb-4">
            <div calss="card-body">
                <h4 class="card-title text-2xl font-medium"><a href="/wikis/<%= wiki.id %>"><%= wiki.title %></a></h4>
                <p class="card-text"><%= wiki.body %></p>
              </div>
          </div>
        </div>
        <% }) %>
        <% if(currentUser) { %>
          <div class="text-center">
            <a href="wikis/new" class="btn btn-primary btn-lg">New Wiki</a>
          </div>
          <% } %>

      </section>
    </main>
  </body>
</html>
