@tailwind base;
@tailwind components;
@tailwind utilities;

section.plans {
  margin-top: 5%;
}

/* ---INDEX-WIKIS ---*/

.main-index-wikis {
  display: flex;
  justify-content: center;
}

/*------SHOW-WIKIS-----*/
.panel-wikis-show {
  margin: 8%;
  border: 2px solid rgb(170, 170, 209);
  border-radius: 5px;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.show-wiki-container {
  text-align: center;
  width: 60%;
}

/*-----EDIT-WIKIS-----*/

.edit-box {
  width: 50%;
  padding-top: 4%;
  text-align: center;
}

.edit-box h1 {
  text-align: center;
}

.edit-box form {
  padding-top: 3%;
}
