*{
  font-family: "Times New Roman", Times, serif;
}

body {
  padding-top: 70px;
}

h1,h3,h3,h4,h5 {
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-family: Courier New, Courier, monospace;
}

.jumbotron {
  width: 55%;
  background-color: #e3e0cc;
  display: block;
  margin: auto;
  padding: 5%;
  margin-top:3%;
}

.jumbotron h3 {
  padding: 3%;
}

section.plans {
  margin-top: 5%;
}
